{
  "rules": {
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/class-name-casing": "error",
    "@typescript-eslint/prefer-interface": "error",
    "@typescript-eslint/no-inferrable-types": ["error", { "ignoreParameters": true }],
    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/unified-signatures": "error",
    "import/no-deprecated": "warn",
    "import/order": "error",
    "jest/no-focused-tests": "error",
    "arrow-body-style": "error",
    "constructor-super": "error",
    "dot-notation": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "guard-for-in": "error",
    "no-restricted-imports": ["error", "rxjs/Rx"],
    "no-unused-labels": "error",
    "no-caller": "error",
    "no-bitwise": "error",
    "no-console": ["error", { "allow": ["error", "warn", "log"] }],
    "no-new-wrappers": "error",
    "no-debugger": "error",
    "no-empty": "off",
    "no-eval": "error",
    "no-shadow": "error",
    "no-throw-literal": "error",
    "no-fallthrough": "error",
    "no-undef-init": "error",
    "no-unused-expressions": "error",
    "no-var": "error",
    "prefer-const": "error",
    "radix": "error",
    "sort-keys": "off"
  },
  "plugins": ["@typescript-eslint", "jest", "import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "extends": ["plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint"]
}
